@font-face {
  font-family: "iconfont"; /* Project id 4327602 */
  src: url('iconfont.woff2?t=1703146178924') format('woff2'),
       url('iconfont.woff?t=1703146178924') format('woff'),
       url('iconfont.ttf?t=1703146178924') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gx:before {
  content: "\e68d";
}

.icon-zdbt:before {
  content: "\e685";
}

.icon-ssqy:before {
  content: "\e68b";
}

.icon-bhbq:before {
  content: "\e68c";
}

.icon-tppost:before {
  content: "\e687";
}

.icon-ksjf:before {
  content: "\e688";
}

.icon-qyhr:before {
  content: "\e686";
}

.icon-yszl:before {
  content: "\e683";
}

.icon-fwbz:before {
  content: "\e684";
}

.icon-tips:before {
  content: "\e65f";
}

.icon-step:before {
  content: "\e682";
}

.icon-share:before {
  content: "\e606";
}

.icon-cg:before {
  content: "\e667";
}

.icon-anniu-jiantouxiangyou:before {
  content: "\eb03";
}

.icon-anniu_jiantouxiangzuo:before {
  content: "\eb06";
}

.icon-icfullscreenexit:before {
  content: "\e623";
}

.icon-fz:before {
  content: "\e680";
}

.icon-sx:before {
  content: "\e67f";
}

.icon-yq:before {
  content: "\e67d";
}

.icon-fx1:before {
  content: "\e67e";
}

.icon-sc:before {
  content: "\e67c";
}

.icon-mb:before {
  content: "\e67b";
}

.icon-tx:before {
  content: "\e67a";
}

.icon-loading:before {
  content: "\e64a";
}

.icon-fhdb1:before {
  content: "\e668";
}

.icon-video:before {
  content: "\e678";
}

.icon-gwc:before {
  content: "\e677";
}

.icon-kf:before {
  content: "\e679";
}

